snippet blockheader
/******************************************************************************!

	\file $1

	\todo ${2:File description}

*******************************************************************************/
$0
endsnippet

snippet basicmain
int
main
(
	void
)
{
	$0

	return 0;
}
endsnippet

